# Mailchimp newsletter integration
REACT_APP_MAILCHIMP_U=
REACT_APP_MAILCHIMP_ID=

# Arweave wallet key (Caesar-3 encrypted JWK JSON)
REACT_APP_KEY=

# Pinata IPFS API key
REACT_APP_PINATA_KEY=

# Block explorer API keys
REACT_APP_SNOWAPI_43114=
REACT_APP_SNOWAPI_137=
REACT_APP_SNOWAPI_4=
REACT_APP_SNOWAPI_56=